apiVersion: v1
kind: Secret
metadata:
  name: lego-pincer-secrets
  labels:
    app.kubernetes.io/part-of: lego-pincer-app
type: Opaque
stringData:
  PROD: "true"
  GIN_MODE: "release"
  DB_HOST: "postgres"
  DB_PORT: "5432"
  DB_USER: "lego-pincer"
  DB_PASS: "{{ app_postgres_pass }}"
  DB_NAME: "lego-pincer"
  ORDER_EDIT_URL: http://localhost:3000/order
  ORDERS_BASIC_AUTH_USER: lego
  ORDERS_BASIC_AUTH_PASS: Almafa12
  SERVER_ADDRESS: "0.0.0.0:8080"

  POSTGRES_USER: "lego-pincer"
  POSTGRES_PASSWORD: "{{ app_postgres_pass }}"
  POSTGRES_DB: "lego-pincer"

  SMTP_SERVER: "{{ app_smtp_server }}"
  SMTP_MAIL_FROM: "{{ app_smtp_mail_from }}"
  SMTP_USER: "{{ app_smtp_user }}"
  SMTP_PASS: "{{ app_smtp_pass }}"