Szia {{.UserName}}!

Rendelésed visszamondásra került.

Rendelt termék: {{.ItemName}}
Mennyiség: {{.Quantity}}
Meglepetés: {{.Bonus}}
Ár összesen: {{.TotalPrice}}

Ha mégsem akartad lemondani, akkor add le újból a rendelést.

Üdvözlettel:
A LEGO-Pincér csapata
