Szia {{.UserName}}!

Rendelésed visszamondásra került.

Rendelt termék: {{.ItemName}}
Mennyiség: {{.Quantity}}
Meglepetés: {{.Bonus}}
Ár összesen: {{.TotalPrice}}

Ha újra szeretnél rendelni, adj le új megrendelést.

Üdvözlettel:
A LEGO-Pincér csapata
