Szia {{.UserName}}!

Köszönjük a megrendelésed!

Rendelt termék: {{.ItemName}}
Mennyiség: {{.Quantity}}
Meglepetés: {{.Bonus}}
Ár összesen: {{.TotalPrice}}

Rendelésedet itt tudod törölni: {{.EditLink}}

Üdvözlettel:
A LEGO-Pincér csapata
